/* CONTACT */

#contact {
  background-color: #ddd;
}

.info {
  width: 300px;
  text-align: left;
  margin: 0 20px;
}

.info img {
  width: 28px;
  margin-right: 14px;
}

.form {
  margin: 0 20px;
}

::placeholder {
  color: #999;
  font: 14px light-less, arial;
}

.form input,
.form textarea,
.form button {
  width: 280px;
  height: 40px;
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #171717;
  color: #ccc;
  font: 16px less, arial;
}

.form input {
  padding: 0 10px;
}

.form textarea {
  height: 140px;
  resize: none;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-bottom: 3px solid #fa0;
}

.form button {
  width: 300px;
  padding: 0;
  color: #fa0;
  border: 1px solid transparent;
  overflow: hidden;
}

.form button:focus {
  outline: none;
  border: 1px solid #fa0;
}

.form button p {
  margin: 0;
  line-height: 40px;
  transition: 0.3s;
}

.form button:hover p {
  transform: translateY(-40px);
}

.formspree img {
  width: 20px;
  margin: 0 5px;
}

.formspree p {
  color: #0f0906;
  font: bold 10px 'Open Sans', sans-serif, arial;
}

.formspree a p {
  letter-spacing: 1px;
}
