.google-jk {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: arial, sans-serif;
  z-index: 2;
}

.google-jk .top {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.google-jk .top p {
  font-size: 13px;
  line-height: 24px;
  padding-left: 15px;
  color: #222;
  cursor: pointer;
}

.google-jk .top p:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.google-jk .top .menu {
  width: 16px;
  height: 16px;
  margin: 0 25px;
  opacity: 0.6;
  cursor: pointer;
}

.google-jk .top .menu:hover {
  opacity: 1;
}

.google-jk .top .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.google-jk .mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.google-jk .mid .input {
  box-sizing: border-box;
  margin: 20px;
  width: 100%;
  max-width: 550px;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  border: 1px solid #eee;
  border-radius: 22px;
  background: url('../images/keyboard.png') 97% no-repeat;
  cursor: text;
  animation: hover-input 0.1s 1.1s forwards;
}

.google-jk .mid .input:hover {
  box-shadow: 0 1px 6px rgba(30, 30, 30, 0.3);
}

.google-jk .mid .input .search {
  display: inline;
  padding-right: 1px;
  margin: 0;
  border: 1px solid transparent;
  animation: typing 1s linear 1.7s infinite;
}

.google-jk .mid .buttons {
  display: flex;
}

.google-jk .mid .buttons p {
  margin: 0 5px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
}

.google-jk .mid .buttons p:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}

.google-jk .mid .buttons p:last-child {
  animation: hover-button 0.9s 4.8s forwards;
}

.google-jk .bot {
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  color: #5f6368;
  display: flex;
  justify-content: flex-end;
}

.google-jk .bot div {
  display: flex;
}

.google-jk .bot p {
  padding-left: 27px;
  margin: 0;
  font-size: 13px;
  cursor: pointer;
}

.google-jk .bot p:hover {
  text-decoration: underline;
}

.google-jk .bot p:last-of-type {
  padding-right: 27px;
}

.google-jk .mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -400px;
  width: 20px;
  height: 20px;
  background-image: url('../images/cursor.png');
  background-size: 20px 20px;
  animation: mouse 5s  0.5s forwards;
}

@keyframes typing {
  49% {border: 1px solid transparent}
  50% {border-right: 1px solid black}
  99% {border-right: 1px solid black}
  100% {border: 1px solid transparent}
}

@keyframes hover-input {
  100% {box-shadow: 0 1px 6px rgba(30, 30, 30, 0.3)}
}

@keyframes hover-button {
  0% {border: 1px solid #c6c6c6; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); color: #222;}
  90% {border: 1px solid #c6c6c6}
  100% {border: 1px solid #4d90fe; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); color: #222;}
}

@keyframes mouse {
  0% {margin-top: -100px; margin-left: -400px; background-image: url('../images/cursor.png');}
  14% {background-image: url('../images/cursor.png');}
  15% {background-image: url('../images/typing.png');}
  25% {margin-top: 20px; margin-left: -30px;}
  75% {margin-top: 20px; margin-left: -30px;}
  79% {background-image: url('../images/typing.png');}
  80% {background-image: url('../images/cursor.png');}
  84% {background-image: url('../images/cursor.png');}
  85% {background-image: url('../images/pointer.png');}
  100% {margin-top: 90px; margin-left: 50px; background-image: url('../images/pointer.png');}
}
