/* PORTFOLIO */

#portfolio,
#portfolio::after {
  background-color: #eee;
  z-index: 1;
}

.project {
  position: relative;
  max-width: 350px;
  height: 350px;
  margin: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.project img {
  height: 100%;
  transition: 1s;
}

.project > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: #171717;
  border-bottom: 3px solid #fa0;
  text-align: center;
  transition: 1s;
}

.project-name {
  margin: 0;
  margin-top: 15px;
  color: #fa0;
}

.project-type {
  margin: 5px 0;
  color: #ccc;
  font: italic 16px light-less, arial;
}

.project a {
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  color: #f2f2f2;
}

.project:hover img {
  filter: brightness(0.5);
}

.project:hover > div {
  transform: translateY(0);
}

.project a:hover span {
  display: inline-block;
  animation: back-n-forth 0.5s ease-in infinite alternate;
}

@keyframes back-n-forth {
  0% {transform: translate(0)}
  100% {transform: translate(5px)}
}
